/* BEGIN SETUP (you will not need to use these) */
#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: medium;
  font-weight: 200;
}
/* END SETUP */

/* Classes that you might find useful */
/* You may also have to implement your own classes */

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.twovert {
  height: 50%;
}

.threevert {
  width: 33.3%
}

.threehoriz {
  width: 33.3%;
}

.narrow {
  height: 17.5%;
}

.wide {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Colors */

.red-threevert {
  background-color: #f6343f;
  width: 100%;
  height: 33.3%;
}

.white-threevert {
  background-color: white;
  width: 100%;
  height: 33.3%; 
}

.light-blue-threevert {
  background-color: #00a2e1; 
  width: 100%;
  height: 33.3%;

}
/* QUESTION 1 */

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}


/* BEGIN QUESTION 2 */

.thailand-red {
  background-color: #B5002D;
  height: 17%;
  width: 100%;
}

.thailand-white {
  background-color: white;
  height: 17%; 
  width: 100%;
}

.thailand-blue {
  background-color: #2E2A4C;
  height: 32%;
  width: 100%;
}

/* 
set width once with .inheritance property and also use multiple classes for same stripe colors but different lines */


/* END QUESTION 2 */

/* BEGIN QUESTION 3 */

.romania-blue {
  background-color: #002c84;
  height: 100%; 
  width: 33.3%;
}

.romania-yellow {
  background-color: #ffcf00; 
  height: 100%; 
  width: 33.3%;
}

.romania-red {
  display: flex;
  background-color: #e10017;
  height: 100%; 
  width: 33.3%;
}


/* .romania-yellow {
  display: flex;
  align-items: center; 
  flex-direction: center;
  justify-content: center;
  background-color: #ffcf00;
  height: 100%; 
  width: 33.3%;
} */


/* END QUESTION 3 */

/* QUESTION 4 */
.mexico-green {
  background-color: #006341;
  height: 100%; 
  width: 33.3%;

}

.mexico-img {
  max-height: 170px;
  max-width: 170px;
  align-self: center;
}

.mexico-red {
  background-color: #ce1126;
  height: 100%; 
  width: 33.3%;
}

.label {
color: #be6259;
transition: transform 0.5s 0.25 ease;
}

.label:hover {
  color: red;
  width: 50px;
  transform: scale(1.5);
  }

/* QUESTION 6 */
.margin-container {
  height: 300px;
  width: 1030px;
  border-style: solid;
  column-gap: 10px;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

/* For margin practice */
.flag1 {
  background-color: red;
  padding: 100px;
  /* TODO */
}

.flag2 {
  background-color: blue;
  padding: 100px;
  /* TODO */
}
/* For padding practice */
.padding-container {
  box-sizing: border-box;
  background-color: lightblue;
  background-clip: content-box, padding-box;
  /* padding: 60px; */
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 80px;
  padding-left: 80px;

}
